<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Navbar</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-success fixed-top" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand nav-link-disabled"><img height="40" src="images/logo.jpg" width="50"/></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-light" th:href="@{index}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/aboutus}">About Us</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{dishes01}">Menu</a>
                </li>
            </ul>
            <form class="d-flex">

                <div sec:authorize="isAuthenticated()">
                    <button class="btn btn-danger ms-2" formaction="/logout" type="submit">Logout</button>
                </div>

                <div sec:authorize="isAnonymous()">
                    <button class="btn btn-outline-info ms-2" formaction="/login" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</nav>
</body>
</html>