<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <title>Modal</title>
</head>
<style>
  .modal-body {
  background-image: url(images/banana-leaf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }

</style>

<body>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="dishesModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-success">
                    <img alt="Logo" src="images/logo.jpg"/> Nasi Lemak Details
                </h3>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <img alt="" class="w-100 " id="modalImg" src=""/>
                <ul>
                    <li><b>Name: </b><span id="modalName"></span></li>
                    <li>
                        <b>Price: $</b><span id="modalPrice"></span>
                    </li>
                    <li><b>Description: </b><span id="modalDescription"></span></li>
                    <li>
                        <b>Side Dishes: </b><span id="modalSideDishes"></span>
                    </li>
                    <img alt="" class="img-fluid" src="images/hpb.png">
                    <h6>We use healthier oil</h6>
                </ul>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button class="btn btn-danger" data-bs-custom-class="custom-tooltip" data-bs-placement="top" data-bs-title="Click Share to copy link to clipboard."
                        data-bs-toggle="tooltip"
                        id="copy-button" type="button">
                    <img alt="Share" src="images/share-fill.svg"/> Share
                </button>

                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">
                    <img alt="Close" src="images/x-circle-fill.svg"/>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{@{share}}"></div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</body>

</html>